<div
  class='index-page-body container d-flex flex-column justify-content-center align-items-center'
>
  <h3 class='mt-3'>Sorry, {{site}} 並不存在</h3>
  <a onclick='history.back()' class='btn btn-warning btn-lg'>回上頁</a>
</div>