<div class='container'>
  sort by category
</div>

<div class='container'>
  <h1>總金額</h1>
  <span>99999</span>
</div>

<div class='container'>
  <div>
    <span><i class='fa-solid fa-house'></i></span>
    <span>午餐</span>
    <span>2022/1/1</span>
    <span>$60</span>
  </div>
  <div>
    <a href='#'>修改</a>
    <a href='#'>刪除</a>
  </div>
</div>