.total-amount {
  background-color: bisque;
  width: 300px;
}

.expense-items-box {
  width: 60%;
  height: 350px;
  overflow-y: scroll;
}

.expense-items-list {
  margin-top: 10px;
  background-color: aliceblue;
  width: 90%;
  height: auto;
}

.create-input-box {
  width: 300px;
}

.create-input-item {
  margin-top: 2rem;
}

.required-mark {
  color: red;
}
